[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
[submodule "libsquash_"]
	path = external/libsquash
	url = https://github.com/uyjulian/libsquash.git
	ignore = dirty
